<div class="container">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mb-2" style="width: 40rem;">
        <div class="card" >
          <div class="card-body" >
            <h1 class="card-title">How work</h1>
             <h1 class="card-title">should work</h1>
             <br><br>
             <p class="card-text">Forget the old rules. You can have the best people. <br>
              Right now. Right here.</p>
              <br><br>
           
              <button type="button"  class="btn rounded-pill"
               style=" background-color: #296049 !important; color: aliceblue;" 
               [routerLink]="['/addgig']">Find Work</button>
    
    
              &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
    
    
              <button type="button"  class="btn rounded-pill"
               style="  background-color: aliceblue!important;  color:#296049 ;" 
               [routerLink]="['/gigslist']">Find Freelancer</button>
               
          </div>
        </div>
      </div>
      <div class="col mb-2" style="width: 40rem;">
        <div class="card-body" >
        <br><br>
    
        <div class="card" >
            <img class="card-img-top" src="\assets\images\Untitled design.gif" > 
        </div>
      
      </div>
    </div>
    </div>
    <br><br><br><br><br><br><br>
    <br><br><br><br>
    
    <div class="container" id="ze"  style="margin-left: 38%;">
      <h1 id="aze1" class="fs-1 me-2">Navigate</h1>
      </div>
      <div class="container" id="ze"  style="margin-left: 36.5%;">
    
      <h1 id="aze2" class="fs-1">categories</h1>
    
    </div>
    <br><br><br>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col mb-3" style="width: 25rem;" *ngFor="let categorie of categlist$|async">
          <img [src]="categorie.categImg" class="card-img-top" [alt]="categorie.categId" style="  object-fit: cover; width: 400px;   height: 400px;">
          <div class="card-body">
            <h5 class="card-title">{{categorie.categName | titlecase}} </h5>
            <p class="card-text-1">{{categorie.categdes}}</p>
           
            
            
    
            <a [routerLink]="['/categories',categorie.categId]" class="btn btn-primary">see more</a>
           
          </div>
        </div>
    
    </div>
    </div>
    
    
    
